transformers==4.30
accelerate==0.23.0
einops==0.7.0
xformers==0.0.22
langchain[llms]==0.0.312
pypdf==3.16.4
sentence_transformers==2.2.2
tiktoken==0.5.1
faiss-cpu==1.7.4
torch==2.0.1
pycryptodome==3.15.0